<h1>ARTWORK</h1>

  <% if current_user %>
  <%= link_to("Add New Picture", "/pictures/new") %>
  <% end %>

  <div>
    <% @most_recent_pictures.each do |pic| %>
      <%= render 'picture', picture: pic %>
    <% end %>
  </div>
