<h1 class="pictures">Pictures</h1>
<%= link_to("Add New Picture", "/pictures/new") %>

<h3>Most Recent Pictures</h3>
<% @most_recent_pictures.each do |pic| %>
<%= render 'picture', picture: pic %>
<% end %>
<br>
<br>
<!-- <h3>Older Than A Month Pictures</h3>
<% @old_pictures.each do |pic| %>
<%= render 'picture', picture: pic %>
<% end %> -->
<br>
<br>
