<h1>Pictures</h1>

  <%= link_to("Add New Picture", "/pictures/new") %>
  <br>
  <br>
  <div>
    <% @most_recent_pictures.each do |pic| %>
      <%= render 'picture', picture: pic %>
    <% end %>
  </div>
  <br>
  <br>
