body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*NAVIGATION*/
/*navigation list*/
.nav {
  list-style: none;
  text-align: right;
  padding-right: 1em;
}

.user_welcome {
  font-weight: bold;
}

/*navigation list item*/
.nav li {
  display: inline-block;
  margin: 0 10px;
}

/*navigation link*/
.nav a {
  text-decoration: none;
}
