/*----------------*/
/* BASE STYLES */
/*----------------*/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* CLEARFIX - for ensuring floated elements are contained in their parent */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/*----------------*/
/*NAVIGATION STYLES*/
/*----------------*/

/*navigation list*/
.nav {
  list-style: none;
  text-align: right;
  padding-right: 1em;
}

.user_welcome {
 display: none;
}

/*navigation list item*/
.nav li {
  display: inline-block;
  margin: 0 10px;
}

/*navigation link*/
.nav a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

/*--------------------------*/
/*RESPONSIVE DESIGN CODE
BREAKPOINT 768PX*/
/*--------------------------*/

@media (min-width:768px)
